$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;

$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);
$color-secondary-very-dark-blue: hsl(234, 12%, 34%);
$color-secondary-grayish-blue: hsl(229, 6%, 66%);
$color-secondary-very-light-gray: hsl(0, 0%, 98%);

$font-size-body: 15px;
$font-family: Poppins;
$font-weight-thin: 200;
$font-weight-medium: 400;
$font-weight-heavy: 600;
