@import 'styles/globals.scss';

.cards>*:last-child {
  margin-bottom: 0;
}

// With Flexbox
// @media screen and (min-width: $desktop-breakpoint) {
//   .cards {
//     display: flex;
//     align-items: center;
//   }

//   .cards>*:first-child {
//     margin-bottom: 0;
//   }

//   .midColumn {
//     margin-left: 2em;
//     margin-right: 2em;
//   }
// }

// With CSS Grid
@media screen and (min-width: $desktop-breakpoint) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2em;
    row-gap: 2em;
    grid-template-areas:
      "  .    second    ."
      "first  second  fourth"
      "first  third   fourth"
      "  .    third     ."
    ;
  }

  .cards>*:first-child {
    grid-area: first;
  }

  .cards>*:nth-child(2) {
    grid-area: second;
  }

  .cards>*:nth-child(3) {
    grid-area: third;
  }

  .cards>*:last-child {
    grid-area: fourth;
  }
}
